.main .container-fluid {
  /* padding: 30px !important; */
}
.error {
  color: red;
  font-size: 12px !important;
}
span.error {
  font-weight: bold;
}
p.error {
  margin-bottom: 0px;

  font-size: "11px";
}
.sidebar .nav-link {
  font-size: 12px;
}

.fullscreen {
  margin: 0 auto !important;
  width: 100% !important;
  max-width: 100% !important;
  align-items: center !important;
}
.fullscreen > .modal-content {
  height: 100vh !important;
  overflow-y: scroll !important;
}

.overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #666666;
  opacity: 0.8;
  z-index: 1000;
}

hr {
  margin-top: 1px !important;
  margin-bottom: 5px !important;
}

.form-check {
  margin-top: 10% !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #3c8ade !important;
}

.tab-pane.active {
  border: 1px solid #3c8ade !important;
  -webkit-box-shadow: 0 5px 8px rgba(60, 138, 222, 0.3);
  -moz-box-shadow: 0 5px 8px rgba(60, 138, 222, 0.3);
  box-shadow: 0 5px 8px rgba(60, 138, 222, 0.3);
}

.form-control {
  height: calc(1.2em + 0.75rem + 2px) !important;
  padding: 0.275rem !important;
  font-size: 0.575rem !important;
  border-width: 2px !important;
  border-color: #ddd;
}

.p-inputtext {
  height: calc(1.2em + 0.75rem + 2px) !important;
  padding: 0.275rem !important;
  font-size: 0.575rem !important;
}

label {
  font-size: 0.7rem !important;
}

.form-check {
  margin-top: 0% !important;
  margin-bottom: 10px !important;
}

input[required] {
  border-left: 2px solid red !important;
}

select[required] {
  border-left: 2px solid red !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.p-datatable-row,
.p-datatable-thead {
  font-size: 12px !important;
}

.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.3rem 0.3rem !important;
}
.card-header,
.modal-header,
.modal-footer {
  padding: 0.75rem 0.75rem !important;
}
.card-body {
  padding: 0.75rem 0.75rem !important;
}
.p-button.p-button-icon-only {
  width: 1.757em !important;
  height: 1.757em !important;
}
.p-button.p-button-icon-only .p-button-text {
  padding: 0.129em !important;
}
.badge {
  padding: 0.629em !important;
}
.modal-title {
  font-size: "16px" !important;
}
.modal-body {
  padding: 0rem 0.75rem !important;
}
.form-group {
  margin-bottom: 0.7rem !important;
}
label {
  margin-bottom: 0.1rem !important;
}
#statsBox {
  padding-top: 30px !important;
}
.list-group-item {
  padding: 0.45rem !important;
}
.offDay {
  color: red !important;
}

.p-button.p-button-sm {
  font-size: inherit;
  padding: 0.0375rem 0.5625rem;
}

.cardHeaderBtn {
  float: right;
  background-color: #fff !important;
  color: #007bff !important;
}
.cardHeaderBtn:hover {
  float: right;
  background-color: rgb(206, 204, 204) !important;
  color: #fff !important;
}

.breadcrumb {
  padding: 0.25rem 1rem;
}

.card-header,
.modal-header,
.modal-footer,
.card-body {
  padding: 0.55rem 0.75rem !important;
}

.main .container-fluid {
  padding: 0 20px;
}

.card-header {
  margin-bottom: 0;
  color: white;
  background-color: #20a8d8 !important;
  border-bottom: 1px solid #1980a4 !important;
}
.p-panel .p-panel-header {
  border: 1px solid #aaa5a59e;
  padding: 0.2rem 0.2rem;
  font-weight: normal;
  background: #585656;
  color: #f8f8f8;
}
.p-panel .p-panel-header .p-panel-title {
  font-weight: normal;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}
.p-panel {
  margin-top: 20px !important;
}
.p-panel-content {
  padding: 13px !important;
}
.pac-target-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5c6873;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: calc(1.2em + 0.75rem + 2px) !important;
  font-size: 0.575rem !important;
  border-width: 2px !important;
}
.modal{
    z-index: 20;   
}

.modal-backdrop{
    z-index: 10;        
}
.pac-container {
    z-index: 1051 !important;
}